%h2 All Movies

%table#Movies
  %thead
    %tr
      %th S.No
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each_with_index do |movie, index|
      %tr
        %td= index + 1
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= movie.description
        %td= link_to "More about #{movie.title}", movie_path(movie)
%br

= link_to 'Add New Movie', new_movie_path
